<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ user.profile_picture }}" alt="User picture" />
    <mat-card-title>
      <a routerLink="/user/{{ user._id }}"
        >{{ user.name }} {{ user.last_name }}</a
      >
    </mat-card-title>
    <mat-card-subtitle>
      <a routerLink="/group/{{ group._id }}"> {{ group.name }} </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="{{ post.photo }}" alt="Group photo" />
    <br />
    <mat-chip-list>
      <mat-chip>
        <mat-icon>tag</mat-icon>
        {{ post.contact_info }}
      </mat-chip>
      <mat-chip>
        <mat-icon>location_on</mat-icon>
        {{ post.location }}
      </mat-chip>
    </mat-chip-list>
    <p>
      {{ post.information }}
    </p>
  </mat-card-content>
</mat-card>
<br />
<form (submit)="postComment($event)">
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <textarea matInput maxlength="100"></textarea>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" type="submit">Post comment</button>
</form>
<br />
<div class="comment-container">
  <comment *ngFor="let comment of comments" [comments]="comment"></comment>
</div>
