<div class="grid">
    <div class="container">        <app-usercard></app-usercard></div>
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
    </div>
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
    </div>
    <div class="ALIN center">
    </div>
    <div class="col-4 tb-col-6 mb-col-8 ALIN">
        <div class="container">        <app-yourpages></app-yourpages></div>
    </div>
</div>
