<form [formGroup]="postForm" (ngSubmit)="createPost()">
  <h2 mat-dialog-title>Create a post</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Information</mat-label>
      <textarea matInput formControlName="information"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact Info</mat-label>
      <input matInput type="text" formControlName="contact_info" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pet type</mat-label>
      <input matInput type="text" formControlName="pet_type" />
    </mat-form-field>
    Photo:
    <input type="file" accept=".jpeg" (change)="onFileChange($event)" />
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </mat-dialog-actions>
</form>
