<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
      alt="User photo"
    />
    <mat-card-title><a routerLink="/user/15"> User </a></mat-card-title>
    <mat-card-subtitle>
      <a routerLink="/group/15"> Group </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio iure minus
      natus sequi? Tempora, inventore possimus tenetur magnam ipsum aspernatur
      reprehenderit ab voluptates nulla maxime nesciunt nemo, necessitatibus
      repellendus nobis?
    </p>
  </mat-card-content>
</mat-card>
