<div id="main-container">
  <div id="center-card">
    <img src="../../../assets/banner.png" alt="Adogtame logo" />
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        name="Email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="password"
        name="Password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <button type="submit">LogIn</button>
    </form>
    <app-google-login></app-google-login>
  </div>
  <a routerLink="/register">Register</a>
</div>
