<div class="grid">
        <div class="col-8 tb-col-3 mb-col-2"> 
            <p>Usuario 1</p> <p>Title</p>
            <p>Descripcion
                <br>...
            </p>
            <p># 33139823</p>
            <p>Afuera de mi casa</p>
        </div>
        <div class="col-4 tb-col-4 mb-col-3">
            <p>15-dic-2021</p>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.freepik.com%2Ffoto-gratis%2Fnino-sonriendo-mientras-hace-signo-paz_23-2148244783.jpg&f=1&nofb=1" alt="">
        </div>
</div>