<div class="grid">
    <div class="col-3 tb-col-6 mb-col-7 ALIN">
        <div class="container">        <app-yourpages></app-yourpages></div>
    </div>
    <ul class="col-6 tb-col-6 mb-col-7 ALIN">
        <!-- <div *ngFor="let minipost of miniposts"><app-minipost post="minipost"></app-minipost></div> -->
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
    </ul>
    <div class="ALIN">
    </div>
    <div class="col-3 tb-col-6 mb-col-8 ALIN">
        <div class="container">        <app-newpages></app-newpages></div>
    </div>
</div>

