<div class="grid">
    <div class="col-3 tb-col-6 mb-col-7 ALIN">
        <app-yourpages></app-yourpages>
    </div>
    <ul class="col-3 tb-col-6 mb-col-7 ALIN">
        <p>        
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
            <app-minipost></app-minipost>
        </p>
    </ul>
    <div class="ALIN">

        <!-- <div *ngFor="let minipost of miniposts"><app-minipost post="minipost"></app-minipost></div> -->
    </div>
    <div class="col-3 tb-col-6 mb-col-8 ALIN">
        <app-newpages></app-newpages>
    </div>
</div>

