<header></header>
<nav>
  <a mat-stroked-button routerLink="/"> Welcome </a>
  <a mat-stroked-button routerLink="/login"> Login </a>
  <a mat-stroked-button routerLink="/register"> Register </a>
  <a mat-stroked-button routerLink="/home"> Home </a>
  <a mat-stroked-button routerLink="/user/61a53efb50374ebf3a3fa7d2"> User </a>
  <a mat-stroked-button routerLink="/group/61abfdc634219f8df3b4a006"> Group </a>
  <a mat-stroked-button routerLink="/post/61ac03c3af37544921ce1df2"> Post </a>
</nav>
<router-outlet></router-outlet>
