<div class="grid">
    <div class="container">        <app-groupcard></app-groupcard></div>
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
    </div>
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
        <button><a href="../createpost/">ADD POST</a></button>
        <br>
        <br>
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
        <app-minipost class ="minipost"></app-minipost>
    </div>
    <div class="ALIN">
    </div>
    <div class="col-4 tb-col-6 mb-col-8 ALIN">
    </div>
</div>
