<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ user.profile_picture }}" alt="User {{ user.name }}" />
    <mat-card-title
      ><a routerLink="/user/{{ user.id_user }}">
        {{ user.name }} {{user.last_name}}
      </a></mat-card-title
    >
    <mat-card-subtitle>
      <a routerLink="/group/{{ group._id }}">
        {{ group.name }}
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ post.photo }}"
    alt="Photo of post {{ post.id_post }}"
  />
  <mat-card-content>
    <p>
      {{ post.information }}
    </p>
    <mat-list>
      <mat-list-item
        ><mat-icon>phone</mat-icon> {{ post.contact_info }}</mat-list-item
      >
      <mat-list-item
        ><mat-icon>location_on</mat-icon> {{ post.location }}</mat-list-item
      >
      <mat-list-item
        ><mat-icon>pets</mat-icon> {{ post.pet_type }}</mat-list-item
      >
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a routerLink="/post/{{ post._id }}" mat-button>See post</a>
  </mat-card-actions>
</mat-card>
