
<div class="grid">
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
    </div>
    <div class="col-4 tb-col-6 mb-col-7 ALIN">
        <!-- <form action="/action_page.php">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
            <input type="submit">
        </form> -->
        <img src="https://sumedico.blob.core.windows.net/images/2021/01/08/razasperrospequenosmedianosgrandesgigantes-focus-min0.03-0.64-640-384.jpg" style="width:250px;height:200px;" class="center">
        <div class="row">
            <br>
            <input type="text" name="" id="" placeholder="Admin Name">
            <input type="text" name="" id="" placeholder="Group Name">
            <textarea name="description" id="" cols="45" rows="10" placeholder="Description"></textarea>
        </div>

        <button> SUBMIT </button>

    </div>
    <div class="ALIN">
    </div>
    <div class="col-4 tb-col-6 mb-col-8 ALIN">
    </div>
</div>
