mat-card {
  width: 90%;
  margin: 2em auto;
  a,
  button {
    text-align: left;
    width: 100%;
  }
  button {
    text-align: center;
  }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    max-width: 90%;
  }
}

mat-dialog-actions {
  button {
    min-width: fit-content;
    max-width: 45%;
  }
}

button {
  display: block;
  width: 200px;
  margin: auto;
}
