<div>
  <mat-card>
    <mat-card-header>
      <h2>Register</h2>
    </mat-card-header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" name="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          name="password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input
          matInput
          type="password"
          formControlName="r_password"
          name="r_password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" name="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="last_name"
          name="last_name"
        />
      </mat-form-field>
      Profile photo:
      <input type="file" accept=".jpeg" (change)="onFileChange($event)" />
      el archivo tiene que ser: jpeg

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
    <mat-divider inset></mat-divider>
    <google-button></google-button>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
      <p>You already have an acount?</p>
      <a mat-stroked-button routerLink="/login">Login</a>
    </mat-card-footer>
  </mat-card>
</div>
